html {
    font-family: "Comic Sans MS", "Courier New", sans-serif;
    scroll-behavior: smooth;
}

h1 {
    font-size: 2em;
    font-weight: bold;
    margin-top: 0em;
    margin-bottom: 0em;
  }
nav {
    align-self: flex-end;
}
header {
    color: #121212;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* gap: 0.25rem; */
}

  

html, body {
    /* margin: 0;
    padding: 0; */
    height: 100%;
}

body {
    /* cursor: url('images/cursor.png'), auto; */
    /* background-image: url('../images/coffeebackground.jpg'); */
    background-color: #F5F5F5;
    background-size: cover; 
    background-position: center;

    min-height: 2000px; /* Or 100vh, 150vh, etc. */
}
  
.social-icons i {
    color: #F05454;
    transition: color 0.3s ease;
}
  
.social-icons a:hover i {
    color: #30475E;
}
