html {
    font-family: "Comic Sans";
}

html, body {
    /* margin: 0;
    padding: 0; */
    height: 100%;
}

body {
    /* cursor: url('images/cursor.png'), auto; */
    background-image: url('../images/coffeebackground.jpg');
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

  

 